*{
    margin: 0px;
    padding: 0px;
    /* border: red 2px solid; */
}

nav{
    width: 96%;
    padding: 25px;
    background-color: rgb(3, 48, 83);
    display: flex;
   justify-content: space-around;
   align-items: center;
}

.logo{
    width: 35px;
}

nav > a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    color: white;
    font-size: 20px;
    
}

nav > input{
    width: 40%;
}


#home{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    width: 100%;
    background-color: rgb(201, 206, 206);
}

.banner{
    width: 100%;
}

.produto{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    margin-top: 60px;
    margin-left: 5px;
    margin-right: 5px;
    

    height: 30vh;
    width: 240px;
    background-color: rgb(255, 255, 255);
}
.produto img{
    padding: 10px;
    width: 75%;

}


@media (min-width: 319px) and (max-width: 450px){
    
    .banner{
        height: 15vh;
    }

    nav img {
        width: 80%
    }
    
    #home{
        width: 110%;
    }
    .produto{
        width: 150px;
        height: 150px;
        margin-top: 20px;
    }
    .produto img {
        width: 70%;
    }
}

@media (300px <= width <= 1000px) and (orientation: landscape){
  
    #home{
        width: 105%;
    }
    .produto{
        width: 140px;
        height: 140px;
        margin-top: 20px;
    }
   
}