*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    /* border: red 2px solid; */
}

nav{
    width: 100%;
    padding: 25px;
    background-color: rgb(3, 48, 83);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    width: 35px;
}

nav > a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    color: white;
    font-size: 20px;
    
}

nav > input{
    width: 40%;
}


#home{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    width: 100%;
    background-color: rgb(201, 206, 206);
}

#home p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: rgb(3, 48, 83);
    border-radius: 5px;
}

.banner{
    width: 100%;
}

.produto{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    margin-top: 60px;
    margin-left: 5px;
    margin-right: 5px;
    

    height: 30vh;
    width: 240px;
    background-color: rgb(255, 255, 255);
}
.produto img{
    padding: 10px;
    width: 75%;

}


@media all and (min-width: 250px) and (max-width: 500px) and (orientation: portrait){
    
    .banner{
        height: 15vh;
    }
    nav{
        justify-content: space-between;
    }
    nav img {
        width: 80%
    }
    
    #home{
        background-color: rgb(142, 199, 199);
    }
    .produto{
        width: 150px;
        height: 150px;
        margin-top: 20px;
    }
    .produto img {
        width: 70%;
    }
}


@media /*handheld and */ (300px <= width <= 1000px) and (orientation: landscape){
  
   #home{
    background-color: red;
   }
    .produto{
        width: 30%;
        height: 30%;
        margin-top: 20px;
    }
   
}