*{
    margin: 0px;
    padding: 0px;

}

nav{
    width: 100%;
    padding: 25px;
    background-color: blue;
    display: flex;
   justify-content: space-between;
}

nav > a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    
}

nav > input{
    width: 40%;
}


#home{
    display: flex;
    flex-direction: column;
}

#home > img{
    width: 100%;
}

.produtos{
    border: 2px black solid;
    display: flex;
    width: auto;
    height: auto;
    padding: 10px;
    justify-content: center;
    flex-wrap: wrap;
}
.produtos>img{
    width: 300px;
    margin: 10px;
}
